#### Contents

#### Profiling Customer Data based on Age, Income, Family Status, and Deparment Goods

# Part 1 (5)

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Making Path do data as a string
path = r'C:\Users\bbissonette\Documents\Data Analytics Course\Acheivement 4\Instacart Basket Analysis'

In [3]:
# Importing Orders Products Merged Data Frame
final_df = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'high_activity_customers.pkl'))

## Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. (Step 5)

### Age Groups

In [4]:
final_df['age'].describe()

count    3.099154e+07
mean     4.946796e+01
std      1.848522e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: age, dtype: float64

In [5]:
final_df.loc[final_df['age'] <= 29, 'age_group'] = 'Young Adult'
final_df.loc[(final_df['age'] > 29) & (final_df['age'] < 50), 'age_group'] = 'Regular Adult'
final_df.loc[(final_df['age'] > 49) & (final_df['age'] < 70), 'age_group'] = 'Middle-Aged Adult'
final_df.loc[(final_df['age'] > 69), 'age_group'] = 'Old Adult'

In [6]:
final_df['age_group'].value_counts(dropna = False)

Regular Adult        9738888
Middle-Aged Adult    9612305
Young Adult          5822773
Old Adult            5817576
Name: age_group, dtype: int64

### Income Groups

In [7]:
final_df['income'].describe()

count    3.099154e+07
mean     9.967335e+04
std      4.313946e+04
min      2.590300e+04
25%      6.728900e+04
50%      9.676500e+04
75%      1.281010e+05
max      5.939010e+05
Name: income, dtype: float64

In [8]:
final_df['income'] = final_df['income'].astype('int64')

In [9]:
final_df.loc[(final_df['income'] <= 67289), 'income_group'] = 'Low Income'
final_df.loc[(final_df['income'] > 67289) & (final_df['income'] <128101), 'income_group'] = "Middle Income"
final_df.loc[(final_df['income'] >= 128101), 'income_group'] = 'High Income'

In [10]:
final_df['income_group'].value_counts(dropna = False)

Middle Income    15495569
High Income       7748002
Low Income        7747971
Name: income_group, dtype: int64

### Deparment_ID Goods Groups

In [11]:
dept = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'departments_wrangled.csv'))

In [12]:
dept.rename(columns = {'Unnamed: 0' : 'department_id'}, inplace = True)

In [24]:
dept['department_id'].describe()

count    21.000000
mean     11.000000
std       6.204837
min       1.000000
25%       6.000000
50%      11.000000
75%      16.000000
max      21.000000
Name: department_id, dtype: float64

In [14]:
final_df['department_id'].describe()

count    3.099154e+07
mean     9.924672e+00
std      6.282213e+00
min      1.000000e+00
25%      4.000000e+00
50%      9.000000e+00
75%      1.600000e+01
max      2.100000e+01
Name: department_id, dtype: float64

In [22]:
final_df.shape

(30991542, 38)

In [23]:
dept.shape

(21, 2)

In [26]:
final_df = final_df.merge(dept, on = 'department_id')

In [27]:
final_df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,age,date_joined,number_of_dependents,marital_status,income,region,activity_flag,age_group,income_group,department
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,31,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,31,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages
2,473747,1,prior,3,3,12,21.0,196,1,1,...,31,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,31,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages
4,431534,1,prior,5,4,15,28.0,196,1,1,...,31,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages

### Number of Dependents Groups

In [29]:
final_df['number_of_dependents'].describe()

count    3.099154e+07
mean     1.501803e+00
std      1.118901e+00
min      0.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      3.000000e+00
Name: number_of_dependents, dtype: float64

In [31]:
final_df.loc[(final_df['number_of_dependents'] > 0), 'dependents_group'] = 'Has Dependents'
final_df.loc[(final_df['number_of_dependents'] == 0), 'dependents_group'] = 'No Dependents'

In [34]:
final_df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,date_joined,number_of_dependents,marital_status,income,region,activity_flag,age_group,income_group,department,dependents_group
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents
2,473747,1,prior,3,3,12,21.0,196,1,1,...,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents
4,431534,1,prior,5,4,15,28.0,196,1,1,...,2/17/2019,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents

### Creating Family Profiles

In [35]:
final_df['marital_status'].value_counts(dropna = False)

married                             21762270
single                               5099036
divorced/widowed                     2647661
living with parents and siblings     1482575
Name: marital_status, dtype: int64

In [38]:
final_df['gender'].value_counts(dropna = False)

Male      15600160
Female    15391382
Name: gender, dtype: int64

In [41]:
final_df.loc[(final_df['marital_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (final_df['dependents_group'] == 'Has Dependents') & (final_df['gender'] == 'Male'), 'family_profile'] = 'single male has children'
final_df.loc[(final_df['marital_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (final_df['dependents_group'] == 'Has Dependents') & (final_df['gender'] == 'Female'), 'family_profile'] = 'single female has children'
final_df.loc[(final_df['marital_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (final_df['dependents_group'] == 'No Dependents') & (final_df['gender'] == 'Male'), 'family_profile'] = 'single male no children'
final_df.loc[(final_df['marital_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (final_df['dependents_group'] == 'No Dependents') & (final_df['gender'] == 'Female'), 'family_profile'] = 'single female no children'
final_df.loc[(final_df['marital_status'] == 'married') & (final_df['dependents_group'] == 'Has Dependents') & (final_df['gender'] == 'Male'), 'family_profile'] = 'married male with children'
final_df.loc[(final_df['marital_status'] == 'married') & (final_df['dependents_group'] == 'No Dependents') & (final_df['gender'] == 'Male'), 'family_profile'] = 'married male no children'
final_df.loc[(final_df['marital_status'] == 'married') & (final_df['dependents_group'] == 'Has Dependents') & (final_df['gender'] == 'Female'), 'family_profile'] = 'married female with children'
final_df.loc[(final_df['marital_status'] == 'married') & (final_df['dependents_group'] == 'No Dependents') & (final_df['gender'] == 'Female'), 'family_profile'] = 'married female no children'

In [42]:
final_df['family_profile'].value_counts(dropna = False)

married male with children      10957082
married female with children    10805188
single male no children          3884754
single female no children        3861943
single male has children          758324
single female has children        724251
Name: family_profile, dtype: int64

In [43]:
final_df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,number_of_dependents,marital_status,income,region,activity_flag,age_group,income_group,department,dependents_group,family_profile
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents,married female with children
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents,married female with children
2,473747,1,prior,3,3,12,21.0,196,1,1,...,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents,married female with children
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents,married female with children
4,431534,1,prior,5,4,15,28.0,196,1,1,...,3,married,40423,South,high-activity customer,Regular Adult,Low Income,beverages,Has Dependents,married female with children

In [44]:
final_df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'high_activity_orders_products_customers_profiled.pkl'))