#### Contents

#### Addressing Security Concerns with Data

#### Segmenting Data Based on Geographical Regions

#### Creating Exclusion Flags For more a Better Group of Results

# Part 1 (1-4)

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Making Path do data as a string
path = r'C:\Users\bbissonette\Documents\Data Analytics Course\Acheivement 4\Instacart Basket Analysis'

In [3]:
# Importing Orders Products Merged Data Frame
ords_prods_custs = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_customers_merged.pkl'))

## Security Implication (Step 2)

In [4]:
ords_prods_custs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32433030 entries, 0 to 32433029
Data columns (total 36 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour              int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  Unnamed: 0_y            int64
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  prices                  float64
 15  _merge                  category
 16   price_range_loc        object
 17  price_range_loc         object
 18  busiest_day             object
 19  busiest_days            object
 20  busiest_period_of_day   object
 21  max_order               int64
 22  loyalty_flag            object
 23  average_price           float64
 24  spending_flag           object
 25  median_days             float64
 26  frequency_flag          object
 27  first_name              object
 28  last_name               object
 29  gender                  object
 30  state                   object
 31  age                     int64
 32  date_joined             object
 33  number_of_dependents    int64
 34  marital_status          object
 35  income                  int64
dtypes: category(1), float64(4), int64(15), object(16)
memory usage: 8.7+ GB

There are some security issues within this data set such as the first and last name of individuals with their income, age, gender, marital status, the state they reside in, and their number of dependents. Removing the identifier such as the first and last name would disassociate the other value statistical elements and sure up the PII security.

In [5]:
# Dropping the first and last name columns from the data set and continuing analysis
pii_security = ['first_name','last_name']

In [6]:
ords_prods_custs = ords_prods_custs.drop(columns=pii_security)

In [7]:
ords_prods_custs.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,spending_flag,median_days,frequency_flag,gender,state,age,date_joined,number_of_dependents,marital_status,income
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

PII removed

## Create Regional Segmentation of Data (Step 3)

In [8]:
# Creating Region Sets
Northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
Midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [9]:
# assigning states in the state column to the previously created regions
ords_prods_custs.loc[ords_prods_custs['state'].isin(Northeast), 'region'] = 'Northeast'

In [10]:
ords_prods_custs.loc[ords_prods_custs['state'].isin(Midwest), 'region'] = 'Midwest'

In [11]:
ords_prods_custs.loc[ords_prods_custs['state'].isin(South), 'region'] = 'South'

In [12]:
ords_prods_custs.loc[ords_prods_custs['state'].isin(West), 'region'] = 'West'

In [13]:
# Confirm outcome
ords_prods_custs['region'].value_counts(dropna = False)

South        10801195
West          8300141
Midwest       7603550
Northeast     5728144
Name: region, dtype: int64

In [14]:
# Checking column
ords_prods_custs.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,median_days,frequency_flag,gender,state,age,date_joined,number_of_dependents,marital_status,income,region
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,prior,3,3,12,21.0,196,1,1,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,prior,5,4,15,28.0,196,1,1,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South

In [15]:
# Creating cross tab on regions and spending flags
crosstab = pd.crosstab(ords_prods_custs['region'], ords_prods_custs['spending_flag'], dropna = False)

In [16]:
crosstab

spending_flag  High spender  Low spender
region
Midwest              156125      7447425
Northeast            108342      5619802
South                210180     10591015
West                 160807      8139334

## Create an exclusion flag for low-activity customers (Step 4)

In [17]:
ords_prods_custs.loc[ords_prods_custs['max_order'] < 5, 'activity_flag'] = 'low-activity customer'

In [18]:
ords_prods_custs.loc[ords_prods_custs['max_order'] >= 5, 'activity_flag'] = 'high-activity customer'

In [19]:
ords_prods_custs['activity_flag'].value_counts(dropna = False)

high-activity customer    30991542
low-activity customer      1441488
Name: activity_flag, dtype: int64

In [20]:
# Creating a subset of low activity customers to export
low_activity_customer = ords_prods_custs[ords_prods_custs['activity_flag'] =='low-activity customer']

In [21]:
low_activity_customer.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,...,frequency_flag,gender,state,age,date_joined,number_of_dependents,marital_status,income,region,activity_flag
1513,520620,120,prior,1,3,11,NaN,196,2,0,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low-activity customer
1514,3273029,120,prior,3,2,8,19.0,196,2,1,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low-activity customer
1515,520620,120,prior,1,3,11,NaN,46149,1,0,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low-activity customer
1516,3273029,120,prior,3,2,8,19.0,46149,1,1,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low-activity customer
1517,520620,120,prior,1,3,11,NaN,26348,3,0,...,Regular customer,Female,Kentucky,54,3/2/2017,2,married,99219,South,low-activity customer

In [22]:
low_activity_customer.shape

(1441488, 36)

In [24]:
low_activity_customer.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'low_activity_customers.pkl'))

In [25]:
# Creating a subset of high activity customers to export
high_activity_customer = ords_prods_custs[ords_prods_custs['activity_flag'] =='high-activity customer']

In [26]:
high_activity_customer.shape

(30991542, 36)

In [27]:
high_activity_customer.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'high_activity_customers.pkl'))

See Second Python Kernel for Continued Assignment